<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
    <title>Menu de Abertura</title>
</head>
<body>

<div class="container">
    <h1>Bem-vindo ao Sistema Escolar</h1>
    <div class="menu-buttons">
        <a href="{{ url_for('professores.menu') }}" class="menu-button">Menu de Professores</a>
        <a href="{{ url_for('alunos.menu') }}" class="menu-button">Menu de Alunos</a>
    </div>
</div>

</body>
</html>
