<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Menu</title>
</head>
<body>

<div class="menu-container">
    <div class="menu-item">
      <a href="{{ url_for('professores.create') }}" class="menu-link">Adicionar Professor</a>
    </div>
    <div class="menu-item">
      <a href="{{ url_for('professores.recovery') }}" class="menu-link">Lista de Professores</a>
    </div>
</div>

</body>
</html>
