<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='recovery_list.css') }}">
    <title>Lista de Professores</title>
</head>
<body>

<div class="container">
    <h1>Lista de Professores</h1>
    <ul>
        {% for professor in professores %}
            <li>{{ professor.nome }} -
                <a href="/professores/update/{{ professor.id }}">editar</a>
                <a href="/professores/delete/{{ professor.id }}">excluir</a>
            </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
